body{
    background: Linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(images/beach1.jpg);
    background-size: cover;
    background-position: center;
}
.login-box {
    max-width: 1000px;
    float: none;
    margin: 250px auto;
}
.form-control{
    background-color: transparent !important;
}
.login{
    background: #fff;
    padding: 30px;
}